# Default user/email
[user]
	email = bclark@gmail.com
	user = Brian Clark
[core]
	pager = less -r
	excludesfile = ~/.gitignore
	editor = vim
[color]
	ui = true
[diff]
	tool = vim
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	s = status
	d = diff
	a = add
	aa = add .
	c = commit
	cm = commit -m
	co = checkout
	f = fetch
	l = log
	try-merge = merge --no-ff --no-commit
	sub = submodule

# Add work-specific overrides in particular directories
[includeIf "gitdir:~/code/"]
	path = .gitconfig-niche
[includeIf "gitdir:~/niche/"]
	path = .gitconfig-niche
