# Default user/email
[user]
	email = bclark@gmail.com
	user = Brian Clark
[core]
	pager = less -r
	excludesfile = ~/.gitignore
	editor = vim
[color]
	ui = true
[diff]
	tool = vim
[url "git@github.com:"]
	insteadOf = https://github.com/

# Add work-specific overrides in particular directories
[includeIf "gitdir:~/code/"]
	path = .gitconfig-niche
[includeIf "gitdir:~/niche/"]
	path = .gitconfig-niche
