snippet comment "Create a function comment" b
#######################################
# ${1:Description}
${2:# Globals
#   ${3:G1}}
${4:# Arguments
#   ${5:A1}}
${6:# Outputs
#   ${7:O1}}
${8:# Returns
#   ${8:R1}}
#######################################
endsnippet
